always-auth=true
strict-ssl=false
save-exact=true

@vtb-ib:registry=https://nexus-ci.corp.dev.vtb/repository/pfom-npm-lib
registry=https://nexus-ci.corp.dev.vtb/repository/pfom-npm-lib/
registry=https://nexus-ci.corp.dev.vtb/repository/prkk-npm/

//nexus-ci.corp.dev.vtb/repository/pfom-npm-lib/:_auth=Y2lfZG9zX1BSS0s6QFomMyFufSlQUDspJWxPKg==
//nexus-ci.corp.dev.vtb/repository/prkk-npm/:_auth=Y2lfZG9zX1BSS0s6QFomMyFufSlQUDspJWxPKg==
