.data-display
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: 1fr

	

	.iframe-content
		box-sizing: border-box
		place-self: stretch

.carousel-example
	display: grid;
	grid-template-rows: auto 1fr
	grid-template-columns: 1fr
