
header
	display: flex
	align-items: center
	padding: .3rem 1.5rem
	gap: 1rem
	& > a
		display: inline-flex
		text-decoration: none
		// background-image: url(@vtb-ib/icons-kit/source/Other/BigLogo.svg?url)
		background-repeat: norepeat
		background-position: center center
		width: 48px
		height: 22px
	& > nav
		flex-grow: 1
		display: flex
		align-items: center
		gap: 1rem
		& > aside
			flex-grow: 1
			display: flex
			justify-content: flex-end
			gap: 1rem
		.active
			font-weight: bolder

	& > aside
		display: inline-flex
		align-items: center
		gap: 1rem
		& > a
			display: flex
			align-items: center
			gap: 1ex
			abbr
				display: inline-flex
				overflow: hidden
				border-radius: 5px
		kbd
			width: 1rem
			height: 1rem