
colors =

	// Colors

	// Текст

	--c_text_primary:  #22242A // Основной цвет текста
	--c_text_secondary: #7B7E86 // Дополнительный цвет текста
	--c_text_white: #FFFFFF // Цвет текста на темном фоне
	--c_text_disabled: #9A9EA5 // Disabled цвет текста в полях
	--c_text_disabled_light: #B1B5BB // Disabled светлый цвет текста в полях
	--c_text_placeholder: #7B7E86 // Цвет текста плейсхолдера
	--c_text_placeholder_active: #B1B5BB // Цвет текста плейсхолдера в активном состоянии

	// Интерактивные компоненты (кнопки, ссылки)

	--c_action #0062FF // Default
	--c_action_hover #0142D3 // Hover
	--c_action_pressed #022D9A // Pressed
	--c_action_disabled #9A9EA5 // Disabled
	--c_action_light #6FA3FF // Ссылки на темном фоне

	// Успешные действия

	--c_success #1BA049 // Default
	--c_success_light #32C665 // Цвет фона

	// Критические действия, ошибки

	--c_danger #D92020 // Default
	--c_danger_hover #A71212 // Hover
	--c_danger_pressed #780A0A // Pressed
	--c_danger_light #F64E4E // Цвет фона


	// Предупреждения

	--c_warning #FF5C22 // Default

	// Линии, разделители

	--c_line_primary #E5E7EB // Линии в табах, аккордеоне
	--c_line_secondary #D6D8DE // Линии в групповых чекбоксах

	// Границы полей ввода

	--c_border_base #B1B5BB // Default
	--c_border_active #0062FF // Active
	--c_border_error #D92020 // Error
	--c_border_positive #1BA049 // Positive
	--c_border_date #22242A // Курсор выбора даты

	// Иконки

	--c_icon_fill #B1B5BB // Fill
	--c_icon_outline #7B7E86 // Outline
	--c_icon_hover #0062FF // Hover
	--c_icon_pressed #0142D3 // Pressed
	--c_icon_white #FFFFFF // Иконки на темном фоне
	--c_icon_blue_light #3A85FF // Иконки на темном фоне

	// Бэкграунды

	--c_bg_primary #FFFFFF // Рабочая область, лайтбокс, хедер, карточки, поля ввода
	--c_bg_secondary #F3F4F6 // Фон страниц
	--c_bg_dark #37383C // Информеры
	--c_bg_hover #F3F4F6 // Hover полей ввода
	--c_bg_disabled #E5E7EB // Disabled полей ввода

	// Дополнительные цвета

	--c_add_blue_10 #EDF5FF // line notification info status accordiondropzone hover
	--c_add_blue_20 #D6E4FE // tag blue
	--c_add_blue_40 #6FA3FF // switcher on disabled status neutral
	--c_add_blue_50 #3A85FF // system notification info
	--c_add_green_10 #EAFCF1 // line notification success
	--c_add_green_20 #B6F1C9 // tag green
	--c_add_green_40 #32C665 // line notification success status positive
	--c_add_orange_10 #FFF1E5 // line notification warn
	--c_add_orange_20 #FFD7C3 // tag orange
	--c_add_red_10 #FFEFEF // line notification error
	--c_add_red_20 #FFD4D4 // tag red
	--c_add_red_50 #F64E4E // system notification error status negative
	--c_add_grey_10 #E5E7EB // tag grey choicechips
	--c_add_grey_20 #D6D8DE // choicechips hover
