
@font-face
	font-weight: 550;
	font-family: VTBGroupUI-SemiBold
	font-style: normal
	src: local("VTBGroupUI SemiBold"),
		local("VTBGroupUI-SemiBold"),
		url("./fonts/VTBGroupUI-SemiBold.ttf") format("truetype")
	font-display: swap

@font-face
	font-weight: 500
	font-family: VTBGroupUI-Medium
	font-style: normal
	src: local("VTBGroupUI Medium"),
		local("VTBGroupUI-Medium"),
		url("./fonts/VTBGroupUI-Medium.ttf") format("truetype")
	font-display: swap

@font-face
	font-weight: 400
	font-family: VTBGroupUI-Regular
	font-style: normal
	src: local("VTBGroupUI Regular"),
		local("VTBGroupUI-Regular"),
		url("./fonts/VTBGroupUI-Regular.ttf") format("truetype")
	font-display: swap

fonts =
	--font-text: normal normal normal normal 16px/24px VTBGroupUI-Regular
	--font-text-sm: normal normal normal normal 16px/20px VTBGroupUI-Regular
	--font-text-x-sm: normal normal normal normal 14px/16px VTBGroupUI-Regular
	--font-text-sm: normal normal normal normal 16px/20px VTBGroupUI-Regular
	--font-title: normal normal 550 normal 56px/60px VTBGroupUI-SemiBold
	--font-extra: normal normal 500 normal 16px/24px VTBGroupUI-Medium
	--font-extra-sm: normal normal 500 normal 14px/20px VTBGroupUI-Medium