
footer
	display: flex
	gap: 2rem
	padding: 0rem 1.5rem .5rem 1.5rem
	& > address
		display: flex
		gap: 1ex
		abbr
			display: inline-flex
			align-items: center
			justify-content: center
			img
				width: 2rem
	& > section
		flex-grow: 1
	& > aside
		a[href^="mailto"]
			font-size: .5rem
